
#
/.project
**/.directory

# textfile
**/~*
**/..*.kate-swp

# dia
**/*.dia.autosave

#tex
**/Relazione.pdf
**/*.log
**/*.aux
**/*.out
**/*.toc
**/*.lof
**/*.tex.backup
**/*.synctex.gz

**/connect.php